.sponsersSection_wrapper .sponsersSection .row img {
  max-width: 250px;
}

.video-sec {
  background: #ffffff;
  padding: 100px 0 0 0;
 
}
.video-sec video {
  width: 100%;
  cursor: pointer;
}

.video-sec .wrapper{
  display:table;
  width:auto;
  position:relative;
  width:100%;
}
.video-sec .wrapper .playpause {
  width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid #f18b0e;
	border-bottom: 50px solid transparent;
  cursor: pointer;
 
  position:absolute;
  left:0%;
  right:0%;
  top:0%;
  bottom:0%;
  margin:auto;
  background-size:contain;
  background-position: center;
}

@media screen and (max-width: 767px)  {
  .video-sec {
    padding: 50px 0 0 0;
  }
  .video-sec .wrapper .playpause {
    border-top: 25px solid transparent;
	border-left: 50px solid #f18b0e;
	border-bottom: 25px solid transparent;
  }
  .sponsersSection_wrapper .sponsor_church {
    margin-top: 50px;
  }
}
img {
  max-width: 100%;
  height: auto;
}